<div class="container">
<form class="search-form" id="search-form">
 
  <input type="text" class="search-imput" name="searchQuery" autocomplete="off" placeholder="Search images..." />
  <button type="submit" class="search-button">Search</button>

</form>
<div class="gallery">
</div>
<button type="submit" class="load-more-button button" data-action="load-more">
  <!-- <span class='spinner-border spinner-border-sm spinner ' 
  role="status" 
  aria-hidden="true"></span> -->
<span class="label is-hidden">
  Load more...
</span>
  <!-- <div class="spinner-border text-muted"></div> -->

</button>
</div>